.equipment {
    display: grid;
    grid-template-areas: "inventory proficiencies search";
    border: 1px solid black;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: calc(100vh - 180px);
    width: calc(100vw - 130px);
    background-color: #eeeeee;
    border: 1px solid black;
}

select {
    background-color: #99bbfa;
    text-align: center;
}

.equipment div.inventory {
    grid-area: inventory;
    display: grid;
    grid-template-areas: "pack pack"
    "currency supplies"
    "reagents materials"
    "innerwear outerwear"
    "tableHead tableHead"
    "inventoryTable inventoryTable";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 2fr 1fr 8fr;
    border: 1px solid black;
    height: calc(100vh - 180px);
}

.inventory div.startPack {
    grid-area: pack;
    display: grid;
    grid-template-areas: "head choice";
    grid-template-columns: 1fr 3fr;
    font-size: 28;
    border: 1px solid black;
}

.startPack div.startHead {
    grid-area: head;
}

.startPack div.startChoice {
    grid-area: choice;
}

.inventory div.currency {
    line-height: 1.2;
    font-size: 20px;
    grid-area: currency;
    display: grid;
    grid-template-areas: "head head head head head"
    "total denom1 denom2 denom3 denom4";
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    border: 1px solid black;
}

.currency div.currencyHead {
    font-size: 28px;
    grid-area: head;
    border: 1px solid black;
}

.currency div.currencyTotal {
    grid-area: total;
    border: 1px solid black;
}

.currency div.currencyDenom1 {
    grid-area: denom1;
    border: 1px solid black;
}

.currency div.currencyDenom2 {
    grid-area: denom2;
    border: 1px solid black;
}

.currency div.currencyDenom3 {
    grid-area: denom3;
    border: 1px solid black;
}

.currency div.currencyDenom4 {
    grid-area: denom4;
    border: 1px solid black;
}

.inventory div.supplies {
    grid-area: supplies;
    line-height: 1.2;
    font-size: 20px;
    display: grid;
    grid-template-areas: "head head head"
    "food water salves";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    border: 1px solid black;
}

.supplies div.suppliesHead {
    font-size: 28px;
    grid-area: head;
    border: 1px solid black;
}

.supplies div.suppliesFood {
    grid-area: food;
    border: 1px solid black;
}

.supplies div.suppliesWater {
    grid-area: water;
    border: 1px solid black;
}

.supplies div.suppliesSalves {
    grid-area: salves;
    border: 1px solid black;
}

.inventory div.reagents {
    grid-area: reagents;
    line-height: 1.2;
    font-size: 20px;
    display: grid;
    grid-template-areas: "head head head head"
    "ordinary uncommon rare legendary";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    border: 1px solid black;
}

.reagents div.reagentsHead {
    font-size: 28px;
    grid-area: head;
    border: 1px solid black;
}

.reagents div.reagentsOrdinary {
    grid-area: ordinary;
    border: 1px solid black;
}

.reagents div.reagentsUncommon {
    grid-area: uncommon;
    border: 1px solid black;
}

.reagents div.reagentsRare {
    grid-area: rare;
    border: 1px solid black;
}

.reagents div.reagentsLegendary {
    grid-area: legendary;
    border: 1px solid black;
}

.inventory div.materials {
    grid-area: materials;
    line-height: 1.2;
    font-size: 20px;
    display: grid;
    grid-template-areas: "head head head head"
    "ordinary uncommon rare legendary";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    border: 1px solid black;
}

.materials div.materialsHead {
    font-size: 28px;
    grid-area: head;
    border: 1px solid black;
}

.materials div.materialsOrdinary {
    grid-area: ordinary;
    border: 1px solid black;
}

.materials div.materialsUncommon {
    grid-area: uncommon;
    border: 1px solid black;
}

.materials div.materialsRare {
    grid-area: rare;
    border: 1px solid black;
}

.materials div.materialsLegendary {
    grid-area: legendary;
    border: 1px solid black;
}

.inventory div.innerwear {
    grid-area: innerwear;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.innerwear div.innerHead {
    flex: 1;
    border: 1px solid black;
}

.innerwear div.innerChoice {
    flex: 1;
    font-size: 36px;
    border: 1px solid black;
}

.innerwear div.innerDesc {
    flex: 4;
    border: 1px solid black;
}

.inventory div.outerwear {
    grid-area: outerwear;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.outerwear div.outerHead {
    flex: 1;
    border: 1px solid black;
}

.outerwear div.outerChoice {
    flex: 1;
    font-size: 36px;
    border: 1px solid black;
}

.outerwear div.outerDesc {
    flex: 4;
    border: 1px solid black;
}

.inventory div.tableHead {
    grid-area: tableHead;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 5fr;
    font-size: 28px;
    border: 1px solid black;
}

.inventory div.inventoryTable {
    grid-area: inventoryTable;
    border: 1px solid black;
    overflow-y: auto;
    font-size: 20px;
}

.inventoryTable div.tableRow {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 5fr;
    border: 1px solid black;
    min-height: 40px;
}

.tableName {
    font-size: 24px;
    text-align: left;
    border: 1px solid black;
    padding-right: 5px;
}

.tableQTY {
    border: 1px solid black;
}

.tableType {
    border: 1px solid black;
}

.tableDesc {
    border: 1px solid black;
}

.equipment div.proficiencies {
    grid-area: proficiencies;
    font-size: 28px;
    display: grid;
    border: 1px solid black;
    text-align: left;
    grid-template-areas: "prof1"
    "prof2"
    "prof3";
    grid-template-rows: 1fr 1fr 1fr;
}

.proficiencies div.prof1 {
    grid-area: prof1;
    font-size: 20px;
    border: 1px solid black;
    display: grid;
    grid-template-areas: "head head head head"
    "type type type weapon"
    "attackName attackCost attackRange attackEffect"
    "propertyName propertyEffect propertyEffect propertyEffect"
    "propertyCost propertyEffect propertyEffect propertyEffect"
    "special special special special";
    grid-template-columns: 3fr 3fr 1fr 5fr;
    grid-template-rows: 3fr 2fr 2fr 2fr 2fr 2fr;
}

.proficiencies div.prof2 {
    grid-area: prof2;
    font-size: 20px;
    border: 1px solid black;
    display: grid;
    grid-template-areas: "head head head head"
    "type type type weapon"
    "attackName attackCost attackRange attackEffect"
    "propertyName propertyEffect propertyEffect propertyEffect"
    "propertyCost propertyEffect propertyEffect propertyEffect"
    "special special special special";
    grid-template-columns: 3fr 3fr 1fr 5fr;
    grid-template-rows: 3fr 2fr 2fr 2fr 2fr 2fr;
}

.proficiencies div.prof3 {
    grid-area: prof3;
    font-size: 20px;
    border: 1px solid black;
    display: grid;
    grid-template-areas: "head head head head"
    "type type type weapon"
    "attackName attackCost attackRange attackEffect"
    "propertyName propertyEffect propertyEffect propertyEffect"
    "propertyCost propertyEffect propertyEffect propertyEffect"
    "special special special special";
    grid-template-columns: 3fr 3fr 1fr 5fr;
    grid-template-rows: 3fr 2fr 2fr 2fr 2fr 2fr;
}

.weaponHead {
    grid-area: head;
    font-size: 28px;
    text-align: center;
    border: 1px solid black;
}

.weaponType {
    grid-area: type;
    border: 1px solid black;
}

.weaponSelect {
    grid-area: weapon;
    border: 1px solid black;
}

.weaponAttackName {
    grid-area: attackName;
    text-align: center;
    border: 1px solid black;
}

.weaponAttackCost {
    grid-area: attackCost;
    text-align: center;
    border: 1px solid black;
}

.weaponAttackRange {
    grid-area: attackRange;
    text-align: center;
    border: 1px solid black;
}

.weaponAttackEffect {
    grid-area: attackEffect;
    border: 1px solid black;
}

.weaponPropertyName {
    grid-area: propertyName;
    text-align: center;
    border: 1px solid black;
}

.weaponPropertyCost {
    grid-area: propertyCost;
    text-align: center;
    border: 1px solid black;
}

.weaponPropertyEffect {
    grid-area: propertyEffect;
    border: 1px solid black;
}

.weaponSpecial {
    grid-area: special;
    border: 1px solid black;
}

.equipment div.search {
    grid-area: search;
    border: 1px solid black;
}