.talents {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 240px);
    width: calc(100vw - 130px);
    background-color: #eeeeee;
}

.talents div.header {
    text-align: center;
    font-size: 48px;
    border: 1px solid rgb(85, 85, 85);
    height: 65px;
}

.talents div.talentChoices {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    height: calc(100vh - 330px);
    width: calc(100vw - 130px);
    gap: 5px;
}

.talentCard { 
    display: grid;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #1d1d1d;
}

.talentCard:hover {
    background-color: #b9b9b9;
    cursor: pointer;
}

.disabledTalentCard { 
    display: grid;
    text-align: center;
    background-color: #acacac;
    border: 1px solid #1d1d1d;
}

 div.cardGrid {
    display: grid;
    grid-template-areas: "name name name icon"
    "type type splash splash"
    "role role splash splash"
    "compl compl splash splash";
    grid-template-rows: 2fr 1fr 1fr 1fr;
}

.cardGrid div.talentName {
    font-size: 48px;
    padding-left: 10px;
    text-align: left;
    grid-area: name;
    border: 1px solid #1d1d1d;
}

.cardGrid div.talentIcon {
    grid-area: icon;
    background-color: rgb(179, 179, 255);
}

.cardGrid div.talentType {
    text-align: left;
    font-size: 20px;
    grid-area: type;
    border: 1px solid #1d1d1d;
}

.cardGrid div.talentRole {
    text-align: left;
    font-size: 20px;
    grid-area: role;
    border: 1px solid #1d1d1d;
}

.cardGrid div.talentCompl {
    text-align: left;
    font-size: 20px;
    grid-area: compl;
    border: 1px solid #1d1d1d;
}

.cardGrid div.talentSplash {
    grid-area: splash;
    border: 1px solid #1d1d1d;
    background-color: rgb(179, 179, 255);
}

.cardBack {
    display: subgrid;
    grid-area: "backName backIcon";
    grid-template-columns: 400px auto;
    grid-template-rows: auto auto;
    color:white;
    background-color: #333333;
    border: 1px solid #1d1d1d;
}

.cardBack:hover {
    background-color: #414141;
    cursor: pointer;
}

.cardBack div.cardBackName {
    font-size: 48px;
    padding-left: 10px;
    text-align: left;
    grid-area: backName;
    border: 1px solid #1d1d1d;
}

.cardBack div.cardDesc {
    padding-left: 10px;
    text-align: left;
    color: white;
    grid-area: backDesc;
}

.view {
    text-align: center;
    color: white;
    background-color: #333333;
}

.view:hover {
    background-color: #1d1d1d;
    cursor: pointer;
}

.talents div.selected {
    display: grid;
    grid-template-areas: "viewTalent1 viewTalent2"
    "returnTalent returnTalent";
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: calc(100vh - 335px) 28px;
    border: 1px solid #1d1d1d;
    text-align: center;
}

.selected div.viewTalent1 {
    grid-area: viewTalent1;
    display: grid;
    grid-template-areas: "selectedName selectedName"
    "selectedType selectedRoles"
    "selectedFlavor selectedFlavor"
    "selectedSkills selectedComplexity"
    "selectedBonus selectedBonus"
    "selectedAbility selectedAbility"
    "selectedAtts selectedAtts"
    "selectedAttributes selectedAttributes";
    grid-template-rows: 4fr 1fr 8fr 1fr 3fr 5fr 2fr 6fr;
    grid-template-columns: 1fr 1fr;
    font-size: 36px;
    border: 1px solid #1d1d1d;
    overflow-y: auto;
    padding-right: 5px;
}

.selected div.viewTalent2 {
    grid-area: viewTalent2;
    display: grid;
    grid-template-areas: "selectedName selectedName"
    "selectedType selectedRoles"
    "selectedFlavor selectedFlavor"
    "selectedSkills selectedComplexity"
    "selectedBonus selectedBonus"
    "selectedAbility selectedAbility"
    "selectedAtts selectedAtts"
    "selectedAttributes selectedAttributes";
    grid-template-rows: 4fr 1fr 8fr 1fr 3fr 5fr 2fr 6fr;
    grid-template-columns: 1fr 1fr;
    font-size: 36px;
    border: 1px solid #1d1d1d;
    overflow-y: auto;
    padding-right: 5px;
}

.selectedName {
    grid-area: selectedName;
    border: 1px solid #1d1d1d;
    font-size: 48px;
}

.selectedType {
    grid-area: selectedType;
    border: 1px solid #1d1d1d;
    font-size: 28px;
}

.selectedRoles {
    grid-area: selectedRoles;
    border: 1px solid #1d1d1d;
    font-size: 28px;
}

.selectedFlavor {
    grid-area: selectedFlavor;
    border: 1px solid #1d1d1d;
    font-size: 20px;
    text-align: left;
}

.selectedComplexity {
    grid-area: selectedComplexity;
    border: 1px solid #1d1d1d;
    font-size: 28px;
}

.selectedSkills {
    grid-area: selectedSkills;
    border: 1px solid #1d1d1d;
    font-size: 28px;
}

.selectedBonus {
    line-height: 1.2;
    grid-area: selectedBonus;
    border: 1px solid #1d1d1d;
    font-size: 28px;
}

.selectedAbility {
    grid-area: selectedAbility;
    border: 1px solid #1d1d1d;
    text-align: left;
    font-size: 20px;
}

.selectedAtts {
    font-size: 28px;
    grid-area: selectedAtts;
    border: 1px solid #1d1d1d;
}

.selectedAttributes {
    line-height: 1.2;
    grid-area: selectedAttributes;
    display: grid;
    grid-template-areas:"att1 att2"
    "arr3 att4";
    grid-template-columns: 1fr 1fr;
    border: 1px solid #1d1d1d;
    font-size: 24px;
}

.selectedAttributes att1 {
    grid-area: att1;
    border: 1px solid #1d1d1d;
}

.selectedAttributes att2 {
    grid-area: att2;
    border: 1px solid #1d1d1d;
}

.selectedAttributes att3 {
    grid-area: att3;
    border: 1px solid #1d1d1d;
}

.selectedAttributes att4 {
    grid-area: att4;
    border: 1px solid #1d1d1d;
}


.selected div.returnTalent {
    text-align: center;
    grid-area: returnTalent;
    border: 1px solid #1d1d1d;
    color: white;
    background-color: #333333;
    font-size: 18px;
}

.selected div.returnTalent:hover {
    background-color: #1d1d1d;
    cursor: pointer;
}
