body {
    background-color: #333333;
}

.main {
    display: grid;
    grid-template-areas: 
    "headerbar headerbar headerbar headerbar"
    "login create play none"
    "pad pad pad pad"
    "footerbar footerbar footerbar footerbar";
    grid-template-rows: 80px auto auto auto 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr)) 20px;
    gap: 50px;
    background-color: transparent;
    height: 100vh;    
}

.main div.headerBar {
    grid-area: headerbar;
    font-size: 48px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.headerBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    gap: 10px;
}

.headerBar ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 48px;
    position: relative;
    top: 20px;
}

.headerBar ul li a:hover {
    background-color: #111111;
}

.main div.create {
    grid-area: create;
    background-size: auto 100%;
    display: flex;
    align-items: flex-end;
    font-size: 56px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: #111111;
    filter: grayscale(100%);
}

.main div.play {
    grid-area: play;
    background-size: auto 100%;
    display: flex;
    align-items: flex-end;
    font-size: 56px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: #111111;
    filter: grayscale(100%);
}

.main div.login {
    grid-area: login;
    background-size: auto 100%;
    display: flex;
    align-items: flex-end;
    font-size: 56px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: #111111;
    filter: grayscale(100%);
}

.equipment {
    display: grid;
    grid-template-areas: "inventory proficiencies search";
    border: 1px solid white;
    text-align: center;
    grid-template-columns: 500px 500px 500px;
    gap: 10px;
}

.equipment div.inventory {
    grid-area: inventory;
    border: 1px solid white;
}

.inventory div.inventoryHeader {
    display: grid;
    grid-template-areas: "currency supplies"
    "reagents materials"
    "innerwear outerwear";
    grid-template-columns: 250px 250px;
    grid-template-rows: 75px 75px 175px;
}

.inventoryHeader div.currency {
    grid-area: currency;
    border: 1px solid black;
}

.inventoryHeader div.supplies {
    grid-area: supplies;
    border: 1px solid black;
}

.inventoryHeader div.reagents {
    grid-area: reagents;
    border: 1px solid black;
}

.inventoryHeader div.materials {
    grid-area: materials;
    border: 1px solid black;
}

.inventoryHeader div.innerwear {
    grid-area: innerwear;
    border: 1px solid black;
}

.inventoryHeader div.outerwear {
    grid-area: outerwear;
    border: 1px solid black;
}

.equipment div.proficiencies {
    grid-area: proficiencies;
    border: 1px solid white;

}

.equipment div.search {
    grid-area: search;
    border: 1px solid white;
}

.story {
    border: 1px solid white;
    text-align: center;
}

.story div.appearance {
    border: 1px solid white;
}

.story div.story {
    border: 1px solid white;
}

.story div.motivations {
    border: 1px solid white;
}